.gridContainer {
    overflow-y: auto;
    max-height: 100vh;
    padding-bottom: 2rem;
}

.gridContainer::-webkit-scrollbar {
    display: none;
  }

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
