.side-nav{
    height: 100%;
    border-radius: 10px;
    width: 100%;
    margin-left: 1rem;
    background-color: white;
    overflow-y: scroll;
}

.side-nav::-webkit-scrollbar {
    display: none;
}

h2 {
    margin: auto;
    text-align: center;
}

.nav-body{
    padding-top: 1rem;
    width: 90%;
    margin: auto;
}