.card {
    background-color: azure;
    border-radius: 10px;
    border-color: rgb(149, 224, 224);
}

.body {
    padding: 0.5rem;
}

i {
    font-size: 1.2rem;
    opacity: 0.7;
}

.card-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-container {
    transition-duration: all 1s ease;
    cursor: pointer;
}

.card-container .card {
    transition-duration: all 1s ease;
}

.card-container:hover .card, .active .card {
    border: solid 1px rgb(49, 200, 211);
    background-color: rgb(196, 247, 247);
}

.card-container:not(:hover) {
    transition: transform 0.5s ease;
    transform: scale(1);
}

.card-container:hover, .active {
    transition: transform 0.5s ease;
    transform: scale(1.08);
}

p {
    position: relative;
}

