<div class="card-container {{ isActive ? 'active' : ''}}" (click)="selectCard()">
    <div class="card">
        <div class="body">
          <h6 class="card-title">
            <app-badge labelTitle="{{labelTitle}}" labelColor="{{labelColor}}"></app-badge>
            <i
              class="bi bi-question-circle"
              placement="top"
              [ngbTooltip]="tipContent"
              tooltipClass="tooltip--1"
            ></i>
          </h6>
          <h3 class="card-text">{{title}}</h3>
        </div>
      </div>
</div>

<ng-template #tipContent>
    {{tooltipInfo}}
</ng-template>