.card-container {
    border-top: solid 1px rgb(192, 192, 192);
}

.bar-conatiner {
    display: flex;
}

.row {
    align-items: center;
    margin-bottom: 0.2rem;
}

.col-2 {
    padding-left: 0;
}

h6 {
    margin-bottom: 0.1rem;
}