<div class="main-container">
  <div class="inner-container">
    <i class="bi bi-x-circle" (click)="removeItem()"></i>
    <div class="tag-container">
      <app-badge labelTitle="{{ node.type }}"></app-badge>
    </div>
    <div class="info-container">
      <p class="var-title">{{ node.id }}</p>
      <a
        class="show-info"
        data-bs-toggle="collapse"
        href="#info-{{ node.id }}"
        aria-expanded="false"
        aria-controls="info"
      >
        Click para ver la información
      </a>
      <div class="var-info collapse" id="info-{{ node.id }}">
        <div class="card card-body">
          {{ node.summary }}
        </div>
      </div>
    </div>
    <div class="value-container">
      <select #selectedValue class="form-select" aria-label="Default select example">
        @for (item of node.outcomes; track item){
        <option value="{{ item }}">{{ item }}</option>
        }
      </select>
    </div>
  </div>
</div>
